<header class="page-header" id="jkheader">


	<h1>
		<img src="{{ asset('bundles/jkstaticpages/images/jkpic.jpg')}}" class="img-circle"/>
		Jérémie Kaszub.
		<small>Développeur web indépendant.</small>
	</h1>

	<div class="container-fluid" id="jkheadernavbar">
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
				<li><a href="#" class="btn active">Qui suis-je ?</a></li>
				<li><a href="#" class="btn">Mes formations</a></li>
				<li><a href="#" class="btn">Mes expériences</a></li>
				<li><a href="#" class="btn">Me contacter</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right" id="sociallinks">
				<li><a href="#"><img src="{{ asset('bundles/jkstaticpages/images/email-variation.png')}}"/></a></li>
				<li><a href="#"><img src="{{ asset('bundles/jkstaticpages/images/googleplus.png')}}"/></a></li>
				<li><a href="#"><img src="{{ asset('bundles/jkstaticpages/images/github.png')}}"/></a></li>
				<li><a href="#"><img src="{{ asset('bundles/jkstaticpages/images/facebook-variation.png')}}"/></a></li>
				<li><a href="#"><img src="{{ asset('bundles/jkstaticpages/images/linkedin-variation.png')}}"/></a></li>
				<li><a href="#"><img src="{{ asset('bundles/jkstaticpages/images/twitter-variation.png')}}"/></a></li>
			</ul>
		</nav>

	</div>

</header>